In [1]:
#pip install gmaps

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import json
import requests
import os
from pprint import pprint

import os
from dotenv import load_dotenv
load_dotenv()
g_key = os.getenv('g_key')
type(g_key)

str

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ancud,CL,2022-07-25 03:19:31,-41.8697,-73.8203,46.22,94,97,8.30
1,1,Dingle,PH,2022-07-25 03:19:32,10.9995,122.6711,86.65,71,89,1.12
2,2,Albany,US,2022-07-25 03:15:50,42.6001,-73.9662,74.26,86,99,6.44
3,3,Mar Del Plata,AR,2022-07-25 03:17:58,-38.0023,-57.5575,51.10,96,100,11.50
4,4,Mahebourg,MU,2022-07-25 03:19:33,-20.4081,57.7000,61.09,94,75,4.61

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Albany,US,2022-07-25 03:15:50,42.6001,-73.9662,74.26,86,99,6.44
9,9,Siguiri,GN,2022-07-25 03:19:35,11.6667,-9.5000,71.56,97,100,3.22
19,19,Zaozerne,UA,2022-07-25 03:19:39,45.1582,33.2787,72.95,72,42,1.54
20,20,Kutum,SD,2022-07-25 03:19:40,14.2000,24.6667,77.43,56,100,9.48
21,21,Derzhavinsk,KZ,2022-07-25 03:19:40,51.1000,66.3167,78.08,30,10,9.37
23,23,Rikitea,PF,2022-07-25 03:19:41,-23.1203,-134.9692,75.42,80,17,15.95
25,25,Jamestown,US,2022-07-25 03:15:14,42.0970,-79.2353,76.01,89,40,9.22
27,27,Bengkulu,ID,2022-07-25 03:19:44,-3.8004,102.2655,79.48,86,98,6.82
29,29,Vaini,TO,2022-07-25 03:19:45,-21.2000,-175.2000,77.16,78,20,9.22
31,31,Fairbanks,US,2022-07-25 03:19:46,64.8378,-147.7164,75.09,32,0,3.44

In [12]:
preferred_cities_df.count()

City_ID       153
City          153
Country       153
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
2        Albany      US     74.26  42.6001  -73.9662
9       Siguiri      GN     71.56  11.6667   -9.5000
19     Zaozerne      UA     72.95  45.1582   33.2787
20        Kutum      SD     77.43  14.2000   24.6667
21  Derzhavinsk      KZ     78.08  51.1000   66.3167
23      Rikitea      PF     75.42 -23.1203 -134.9692
25    Jamestown      US     76.01  42.0970  -79.2353
27     Bengkulu      ID     79.48  -3.8004  102.2655
29        Vaini      TO     77.16 -21.2000 -175.2000
31    Fairbanks      US     75.09  64.8378 -147.7164

In [19]:
# https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    
# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
-----------------------------
Data Retrieval Complete
-----------------------------

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Albany,US,74.26,42.6001,-73.9662,
9,Siguiri,GN,71.56,11.6667,-9.5000,
19,Zaozerne,UA,72.95,45.1582,33.2787,"Molodozhnyy Lager' ""Pioner"""
20,Kutum,SD,77.43,14.2000,24.6667,Dibbo areaمنطقة دبو
21,Derzhavinsk,KZ,78.08,51.1000,66.3167,Ooo.khim Baza
23,Rikitea,PF,75.42,-23.1203,-134.9692,People ThankYou
25,Jamestown,US,76.01,42.0970,-79.2353,Hampton Inn & Suites Jamestown
27,Bengkulu,ID,79.48,-3.8004,102.2655,Grage Hotel Bengkulu
29,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
31,Fairbanks,US,75.09,64.8378,-147.7164,Westmark Fairbanks Hotel & Conference Center

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [37]:
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))